name: Unit Tests

on:
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: 'macos-15'

    env:
      SCHEME: "BlackBoxFirebaseCrashlytics"

    timeout-minutes: 15
    strategy:
      matrix:
        DESTINATION: ["platform=iOS Simulator,name=iPhone 16", "platform=OS X", "platform=tvOS Simulator,name=Apple TV", "platform=watchOS Simulator,name=Apple Watch Ultra 2 (49mm)"]

    steps:
    - name: Get source code
      uses: actions/checkout@v6

    - name: Prepare Environment for App Build
      uses: ./.github/actions/prepare_env_app_build

    - name: Resolve Dependencies
      run: xcodebuild -resolvePackageDependencies
        
    - name: Build
      run: >
        xcodebuild build-for-testing
        -scheme ${{ env.SCHEME }}
        -destination '${{ matrix.DESTINATION }}'
        -quiet

    - name: Test
      if: ${{ !contains(matrix.DESTINATION, 'watchOS') }} # watchOS Simulator is too slow on GitHub-hosted Runners, expectation-related tests are flaky
      run: >
        xcodebuild test-without-building
        -scheme ${{ env.SCHEME }}
        -destination '${{ matrix.DESTINATION }}'
        -quiet

  # This allows us to have a branch protection rule for tests and deploys with matrix
  status-for-matrix:
    runs-on: 'ubuntu-latest'
    needs: tests
    if: always()
    steps:
      - name: Calculate matrix result
        run: |
          result="${{ needs.tests.result }}"
          if [[ $result == "success" ]]; then
            exit 0
          else
            exit 1
          fi
